# Brand Verification

The company will be able to carry out data applications of its products, being validated by the community, they will receive the seal of data verified by the brand. The Verified Brand will also be able to validate products of its brand. In addition, the Verified Brand will be allowed to enter extra data, such as logistics and user manual.

If you are a supplier / manufacturer, you can request Verify Brand Domain. Only authorized representatives with access to an official brand email can be verified. Once your registration is validated, you can start to add or update the products of the brand you are a representative of. You can Verify Brand Domain here: [https://staging.wireshape.org/verify-brand](https://staging.wireshape.org/verify-brand)
